.subBackImg {
    background-image: url("https://www.revv.co.in/assets/RentalImages/HomeScreen/heroCarousel/LT_BG_1.png");
    width: 100%;
    height: 590px;
    padding: 40px;
}

.headerSubscription {
    display: flex;
    /* border: 1px solid black; */
    height: 450px;
    width: 90%;
    margin: auto;
    gap: 40px;
}

.headerSubscription>div:nth-child(1) {
    /* border: 1px solid red; */
    width: 43%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.headerSubscription>div:nth-child(2) {
    /* border: 1px solid red; */
    width: 48%;
}

.rentalAndSubscriptionColor {
    background-image: linear-gradient(270deg, #1caba2 25%, #1c7fab);
    height: 20%;
    width: 100%;
    border-radius: 20px;
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: space-around;
    color: white;
    padding: 10px;
    /* border: 5px solid black; */
}



.subscriptionImg {
    /* border: 1px solid; */
    margin-top: 33px;
    padding: 35px;
}

.rentalAndSubscriptionColor>button {
    /* background-color: black; */
    width: 80%;
    padding: 1px;
    border-radius: 18px 18px;
}

.rentalAndSubscriptionColor>button:hover {
    background-color: white;
    color: teal;
}

.rentalHSixTag {
    font-family: Poppins;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    line-height: 1.4;
}

.rentalPTag {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
}

.underFormSubsciptionImg {
    /* border: 1px solid; */
    padding: 15px;
}

.underFormSubsciptionImg>img {
    /* border: 1px solid; */
    width: 70%;
    margin: auto;
}


.underFormSubsciptionImg>h1 {
    font-size: 18px;
    line-height: 1.56;
    color: rgb(90, 82, 84);
    font-family: Poppins;
    font-weight: 600;
    text-align: center;
}

.subscriptionForm {
    margin-top: 19px;
    padding: 5px;
    /* border: 1px solid; */
}


.mapImg {
    /* border: 1px solid; */
    height: 40px;
    cursor: pointer;
    margin-top: 7px;

}

.select {
    font-weight: 700;
    cursor: pointer;
}

.searchMothAndYear {
    /* border: 1px solid ; */
    margin-top: 20px;
    height: 110px;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.searchMothAndYear>div {
    border: 0.0px solid gray;
    width: 49%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* padding: 1px; */
    border-radius: 15px;
}

.searchMothAndYear>div:hover {
    transform: scale(1.01);
    /* border: 2px solid red; */
}


.searchMothAndYear>div>div:nth-child(1) {
    position: relative;
    border-radius: 14px;
    color: white;
    height: 65px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(270deg, #1caba2 25%, #1c7fab);

}


.searchMothAndYear>div>div>h1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
    /* margin-top: ; */
    font-weight: 700;
    line-height: 1.5;
    color: white;
    text-align: left;
    margin-left: 20px;
}

.searchMothAndYear>div>p {
    font-family: "Poppins";
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-size: 16px;
    color: #a9b5c0;
    font-weight: 600;
    padding: 4px 2px;
    /* border: 1px solid black; */
}

.whatIsRevSubscription {
    /* border: 2px solid black; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 85%;
    margin: auto;
    padding: 20px;
    margin-top: 50px;
    /* margin-bottom: 300px; */
    border-radius: 8px;
    height: auto;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
}

.whatIsRevSubscription>div {
    /* height: 200px; */
    width: 48%;
    /* padding: 25px; */
    gap: 50px;
    /* border: 2px solid teal; */
}

.whatIsRevSubscription>div:nth-child(1)>h2 {
    /* border: 1px solid black; */
    font-weight: 700 !important;
    margin-bottom: 10px !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 23px;
    font-weight: 700;
    line-height: 1.1;
    color: #212529;
    text-align: left;
}

.whatIsRevSubscription>div:nth-child(1)>p {
    /* border: 1px solid black; */
    color: rgb(165, 165, 165);
    margin-bottom: 20px !important;
    font-size: 21.50px;
    line-height: 1.5;
    font-weight: 400;
    font-family: "Poppins";
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;

}

.whatIsRevSubscription>div:nth-child(1)>Button {
    /* border: 5px solid black; */
    width: 120px;
    margin-left: -410px;
    border: 1px solid gray;
    /* text-align: left; */
}

.youtube {
    /* border: 5px solid red; */
    border-radius: 10px;
}

/* sanitizedAndSafe */

.sanitizedAndSafe {
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 85%;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    margin-top: 50px;
    /* margin-bottom: 100px; */
    border-radius: 8px;
    height: auto;
    background-color: #fff;
    text-align: center !important;

}

.sanitizedAndSafe>span {
    font-family: Poppins;
    font-size: 30px;
    color: rgb(27, 28, 36);
    font-weight: 700;
    margin: 0px;
    margin-left: -820px;
    text-align: left;
    /* border: 1px solid black; */
}

.sanitizedDiv {
    /* border: 1px solid teal; */
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.sanitizedDiv>div>img {
    margin-top: 10px;
    width: 100%;
    height: 125px;
    border-radius: 20px;
}

.RevCarsMainDiv {
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    width: 85%;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    margin-top: 50px;
    /* margin-bottom: 100px; */
    border-radius: 8px;
    height: auto;
    background-color: #fff;
    text-align: center !important;

}

.sanitizedAndSafe>span {
    font-family: Poppins;
    font-size: 30px;
    color: rgb(27, 28, 36);
    font-weight: 700;
    margin: 0px;
    margin-left: -835px;
    text-align: left;
}

.RevCarsMainDiv>h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: Poppins;
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-family: inherit;
    line-height: 1.2;
    color: inherit;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.RevCarsMainDivTabs {
    /* border: 1px solid black; */
    /* width: 100%; */
    border-bottom: 1px solid rgba(27, 28, 36, .2);
    align-items: center !important;
    font-family: Poppins !important;
    font-weight: 800;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-image: linear-gradient(180deg, #fff 41%, #f2f2f2);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 21px;
    font-weight: 800;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.Tab {
    /* border: 1px solid teal; */
    font-size: 25px;
    font-weight: 800;
    color: gray;

}

.TabList {
    /* border: 1px solid black; */
    display: flex;
    gap: 20px;

}

.RevCarDataDiv {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    gap: 5px;

}

.CarCardData {
    /* border: 1px solid black; */
    padding: 50px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.CarCardData:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.CarCardData>div {
    display: flex;
    gap: 20px;
    margin-top: 5px;
    /* border: 1px solid black; */
}

.petrol {
    /* border: 1px solid black; */
    height: 24px;
    margin-left: 10px;
    /* width: ; */
}

.petrol~p {
    /* border: 1px solid black; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 19px;
    font-weight: 700;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin-top: -1px;
    margin-left: -10px;
    /* background-color: #fff; */
}

.carImg {
    /* border: 1px solid black; */
    height: 120px;
    width: 120%;
}

.CarCardData>h1 {
    /* border: 1px solid black; */
    font-family: Poppins;
    font-weight: 900;
    margin-top: 15px;
    line-height: 10;
    color: #1b1c24;
    font-size: 27px;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.carRupee {
    /* border: 1px solid black; */
    font-size: 20px;
    color: #717171;
}

.CarCardData>h2 {
    /* border: 1px solid black; */
    font-weight: 1000;
    line-height: .75;
    text-align: left;
    color: #1b1c24;
    margin-top: 18px;
    font-size: 24px;
}

.HowItWorks {
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    width: 85%;
    border-bottom: 1px solid rgba(27, 28, 36, .2);
    /* border: 1px solid black; */
    margin: auto;
    padding: 5px;
    margin-top: 20px;
    /* margin-bottom: 100px; */
    border-radius: 8px;
    height: auto;
    height: auto;
    background-color: #fff;
    justify-content: space-around;
    background-image: linear-gradient(180deg, #fff 41%, #f2f2f2);
    
}

.callWorks {
    width: 100%;
    height: 50px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 400px;
}

.callWorksIcon {
    /* border: 1px solid black; */
    display: flex;
    width: 35%;
    /* justify-content: space-between; */
    gap: 7px;
}

.callWorksIcon>p:nth-child(1) {
    border: 1px solid gray;
    /* padding: 20px; */
    border-radius: 50%;
    height: 38px;
    width: 9%;
}

.callWorks>h1 {
    font-size: 30px;
    font-weight: 700;
    font-family: Poppins;
    text-align: left;
    color: #1b1c24;
}

.callWorks {
    color: gray;
    font-size: 21px;
}

.number {
    color: black;
    font-weight: 700;
}

.howItWorksSecoundMainDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
    justify-content: center;
    /* border: 1px solid teal; */
    height: auto;
}

.howItWorksSecoundMainDiv>div {
    width: 98%;
    /* border: 2px solid teal; */
    padding: 5px;
    margin-left: 10px;
}

.WorksDiv>div{
    /* background-color: teal; */
    display: flex;
    gap: 20px;
    /* border: 1px solid black; */
}
.WorksDiv>div>img{
    /* border: 1px solid black; */
    padding: 5px;
}

.WorksDiv>div>div>h1 {
    /* border: 1px solid red; */
    font-size: 23px;
    font-weight:900;
    font-family: Poppins;
    text-align: left;
    color: #1b1c24;
    margin-bottom: 1px;
}

.WorksDiv>div>div>p {
    /* border: 1px solid black; */
    font-size: 15px;
    font-family: Poppins;
    font-weight: 700;
    text-align: left;
    color: #5d5e6f;
    margin-top: -7px;
}

.numberImg {
    /* border: 1px solid black; */
    height: 70px;
    margin-left: 110px;
    width: 62px;
    margin-top: -12px;
    position: relative;
}


.FAQMainDiv{
    /* border: 1px solid black; */
     /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
     width: 99%;
     border-bottom: 1px solid rgba(27, 28, 36, .2);
     /* border: 1px solid black; */
     margin: auto;
     padding-bottom: 20px;
     margin-top:20px;
     margin-bottom: 30px;
     border-radius: 8px;
     height: auto;
     height: auto;
     background-color: #fff;
     justify-content: space-around;
     background-image: linear-gradient(180deg, #fff 41%, #f2f2f2);
}
.FAQMainDiv>div{
    /* border: 1px solid teal; */
    padding: 10px;
    width: 87%;
    margin: auto;
}
.FAQMainDiv>div>h1{

    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.22;
    text-align: left;
    color: #1b1c24;
    margin-bottom: 20px;

}

.FAQSectionDiv{
    /* border: 1px solid black; */
    margin-top: 5px;
}

.OurJourneyMainDiv{
    width: 99%;
    border-bottom: 1px solid rgba(27, 28, 36, .2);
    /* border: 1px solid black; */
    margin: auto;
    padding-bottom: 20px;
    margin-top:20px;
    margin-bottom: 100px;
    border-radius: 8px;
    height: auto;
    height: auto;
    background-color: #fff;
    justify-content: space-around;
    background-image: linear-gradient(180deg, #fff 41%, #f2f2f2);

}

.OurJourneyMainDiv>div{
    /* border: 1px solid teal; */
    padding: 10px;
    width: 87%;
    margin: auto;
}

.OurJourneyMainDiv>div>h1{
    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    color: #1b1c24;
}

.OurJourneyCards{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    margin-top:15px;
}

.OurJourneyCards>div{
    /* border: 1px solid black; */
    height: 200px;
    padding: 20px;
    width: 80%;
}
.OurJourneyCards>div>img{
    /* border: 1px solid black; */
    margin: auto;
    height: 90px;
    margin-bottom: 10px;
}

.OurJourneyCards>div>h1{
    /* border: 1px solid black; */
    font-size: 28px;
    font-weight: 1000;
    text-align: center;
    color: #1b1c24;
    font-family: Poppins;
}


.OurJourneyCards>div>p{
    font-size: 19px;
    text-align: center;
    color: #4b4d5d;
    font-family: Poppins;
    font-weight: 700;
}